<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <!--Creando la conexion a la base de datos SQL Server PROYECTO_FINAL-->
  <connectionStrings>
    <add name="conectar" connectionString="Data Source=LAPTOP-8FPRI97A\MSSQLSERVER03;Initial Catalog=PROYECTO_FINAL;Integrated Security=True" />
    <add name="Capa_Presentacion.Properties.Settings.PROYECTO_FINALConnectionString"
      connectionString="Data Source=LAPTOP-8FPRI97A\MSSQLSERVER03;Initial Catalog=PROYECTO_FINAL;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>